.movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
    max-width: 1140px;
    padding: 70px 0 28px;  
    border-top: 1px solid #424242;
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    justify-content: center;
    visibility: hidden;

}

 @media screen and (min-width: 768px) and (max-width: 1200px) {
    .movies-list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 47px;
        padding: 70px 0 12px;
        max-width: 708px;
  }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .movies-list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 39px;
        padding: 40px 0 13px;
        max-width: 300px;
  }
  }


  .movies-list_visible {
    visibility: visible;
  }

  .movies-list__noresult {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    grid-column: 1 / 3;
  }

  .movies-list__noresult_hidden {
    display: none;
  }