.movie {
    width: 360px;
    position: relative;
    margin: 0;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .movie {
        width: 339px;
   
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movie {
        width: 300px;
        margin: 0 auto;
   
    }
}
.movie__image {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    height: 201px;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .movie__image {
        height: 190px; 
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movie__image {
        height: 169px; 
    }
}
.movie__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movie__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 14px 0 0 14px;
    width: 250px;
}
@media screen and (min-width: 320px) and (max-width: 1200px){
    .movie__title {
        margin: 25px 0 0;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        height: 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .movie__title {
        font-size: 12px;
        line-height: 15px;
        width: 240px;
        margin: 16px 0 0;
    }
}

.movie__duration {
    font-size: 11px;
    line-height: 10px;
    color: #8B8B8B;
    background-color: #303030;
    margin: 14px 14px 0 0;
    padding: 4px 9px;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .movie__duration {
        margin: 25px 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .movie__duration {
        padding: 3px 4px;
        margin: 19px 0 0;
    }
}
.movie__saveBtn {
    background: url('../../images/save-btn.svg') no-repeat;
    display: block;
    cursor: pointer;
    border: none;
    width:72px;
    height:21px;
    background-size: cover;
    position: absolute;
    top: 14px;
    right: 14px;
    transition: all .5s ease;
    opacity: 0;
}

.movie__saveBtn:hover {
    opacity: 1;
    
}

.movie__saveBtn_saved {
    background: url('../../images/saved-btn.svg') no-repeat; 
    width:21px;
    height:21px;
}

.movie__saveBtn_remove {
    background: url('../../images/delete-btn.svg') no-repeat; 
    width:21px;
    height:21px;
   
}
