.login {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 396px;
    width: 100%;
    align-self: center;
}

.login__logo {
    height: 38px;
    width: 38px;
    margin: 70px 0 40px
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .login__logo {
        margin: 232px 0 40px
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .login__logo {
        display: flex;
        margin: 56px auto 50px
    }
}

.login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .login__title {
        margin: 0 auto 80px;

    }
}
.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .login__form {
        padding: 0 30px 0;
    }
}

.login__label {
    width: 100%;
    margin-top: 24px;
}

.login__label:first-of-type{
    margin-top: 0;
}

.login__input-title {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    color: #8B8B8B;
}

.login__input {
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
   color: #FFFFFF;
   width: 100%;
   font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.login__input:focus {
    outline: 1px solid #424242;
  }

  .login__input_error {
    color: #EE3465;
  }

.login__error-message {
   display: none; 
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    padding-top: 5px;
    box-sizing: border-box;
}

.login__error-message_active{
    display: flex;
}

.login__signin {
    width: 100%;
    background-color: #4285F4;
    color: #FFFFFF;
    border: none;
    transition: all .5s ease;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 45px;
    border-radius: 6px;
    margin-top: 221px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .login__signin {
            margin-top: 267px;
            font-size: 12px;
            line-height: 15px;
        }
    }

    .login__signin:hover {
        opacity: 0.6;
    }
    
    .login__signup {
        font-size: 14px;
        line-height: 17px;
        color: #8B8B8B;
        margin: 16px auto 0;
    }
    
    @media screen and (min-width: 320px) and (max-width: 767px) {
        .login__signup {
            font-size: 12px;
            line-height: 15px;
            margin: 14px auto 0;
        }
    }
    .login__signup-link {
        color: #4285F4;
        text-decoration: none;
        transition: all .5s ease;
        margin-left: 6px;
    }
    
    .login__signup-link:hover {
        opacity: 0.6;   
        border-bottom: 2px solid #FFFFFF;
    }